<!-- <div id="navbar">
  
</div> -->
<div id="navbar">
    <div class="bb ze ki xn 2xl:ud-px-0 oo wf yf i">
        <div class="vd to/4 tc wf yf">
          <div class="navbar-left">
            <img src="../../assets/images/positions.png" alt="Logo">
            <span style="color: black; font-weight: 200;">SwipeFun</span>
          </div>
  
            <!-- Hamburger Toggle BTN -->
            <button class="po rc" (click)="toggleNavigation()">
                <span class="rc i pf re pd">
                    <span class="du-block h q vd yc">
                        <span class="rc i r s eh um tg te rd eb ml jl dl" [class.ue]="!navigationOpen"></span>
                        <span class="rc i r s eh um tg te rd eb ml jl fl" [class.ue]="!navigationOpen"></span>
                        <span class="rc i r s eh um tg te rd eb ml jl gl" [class.ue]="!navigationOpen"></span>
                    </span>
                    <span class="du-block h q vd yc lf">
                        <span class="rc eh um tg ml jl el h na r ve yc" [class.sd]="!navigationOpen"></span>
                        <span class="rc eh um tg ml jl qr h s pa vd rd" [class.sd]="!navigationOpen"></span>
                    </span>
                </span>
            </button>
            <!-- Hamburger Toggle BTN -->
        </div>
  
      
    </div>
</div>
